In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [18]:
data = pd.read_csv("Capstone_data_NCAA_Academic_Progress_data_clean.csv")

#Understanding the Data

In [20]:
data.head()

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,FOURYEAR_SCORE,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
0,100654,Alabama A&M University,0,2014,1,Baseball,1,Southwestern Athletic Conference,80,931,...,0.8974,0.9487,21,917,0.8810,0.9524,20,975,0.9750,0.9750
1,100654,Alabama A&M University,0,2014,4,Football,1,Southwestern Athletic Conference,321,932,...,0.9111,0.9630,74,921,0.8759,0.9655,74,871,0.8601,0.8811
2,100654,Alabama A&M University,0,2014,2,Men's Basketball,1,Southwestern Athletic Conference,43,964,...,0.9615,0.8462,11,909,0.9091,0.9091,10,950,0.9500,0.9500
3,100654,Alabama A&M University,0,2014,6,Men's Golf,1,Southwestern Athletic Conference,22,898,...,0.8889,0.8889,7,929,0.8571,1.0000,5,896,0.8574,0.9094
4,100654,Alabama A&M University,0,2014,14,"Men's Track, Indoor",1,Southwestern Athletic Conference,62,932,...,0.8889,0.9167,14,926,0.8519,1.0000,12,938,0.9167,0.9583

In [21]:
data.tail()

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,FOURYEAR_SCORE,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
5792,243780,Purdue University,0,2014,32,Women's Swimming,1,Big Ten Conference,118,985,...,0.9828,0.9483,26,1000,1.0000,1.0000,25,968,0.9575,0.9787
5793,243780,Purdue University,0,2014,33,Women's Tennis,1,Big Ten Conference,35,1000,...,1.0000,0.9474,9,941,0.9412,0.9412,9,971,1.0000,0.9412
5794,243780,Purdue University,0,2014,34,"Women's Track, Indoor",1,Big Ten Conference,119,974,...,0.9608,1.0000,23,989,0.9778,1.0000,30,940,0.9138,0.9655
5795,243780,Purdue University,0,2014,35,"Women's Track, Outdoor",1,Big Ten Conference,118,978,...,0.9608,1.0000,23,989,0.9778,1.0000,30,940,0.9138,0.9655
5796,243780,Purdue University,0,2014,36,Women's Volleyball,1,Big Ten Conference,54,1000,...,1.0000,1.0000,14,1000,1.0000,1.0000,13,1000,1.0000,1.0000

In [22]:
data.shape

(5797, 56)

In [23]:
data.describe()

,SCHOOL_ID,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,NCAA_DIVISION,FOURYEAR_ATHLETES,FOURYEAR_SCORE,FOURYEAR_ELIGIBILITY,FOURYEAR_RETENTION,2014_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
count,5797.000000,5797.000000,5797.0,5797.000000,5797.0,5797.000000,5797.000000,5797.000000,5797.000000,5797.000000,...,5797.000000,5797.000000,5797.000000,5797.000000,5797.000000,5797.000000,5797.000000,5797.000000,5797.000000,5797.000000
mean,178208.908228,0.339141,2014.0,19.488874,1.0,79.815077,979.094704,0.978632,0.972427,20.241849,...,0.963215,0.954677,18.775056,960.845092,0.963806,0.954336,18.511299,961.082456,0.965638,0.954207
std,40284.308659,0.473459,0.0,11.948883,0.0,63.715741,19.207347,0.025953,0.023449,16.279779,...,0.051917,0.049264,15.804418,41.360329,0.049518,0.049989,15.516596,41.757472,0.050264,0.049785
min,100654.000000,0.000000,2014.0,1.000000,1.0,12.000000,839.000000,0.567600,0.810500,4.000000,...,0.500000,0.631600,4.000000,600.000000,0.600000,0.583300,4.000000,611.000000,0.562500,0.611100
25%,145600.000000,0.000000,2014.0,9.000000,1.0,43.000000,969.000000,0.969300,0.960000,11.000000,...,0.940300,0.928600,10.000000,941.000000,0.941200,0.928600,10.000000,941.000000,0.946000,0.928600
50%,183044.000000,0.000000,2014.0,19.000000,1.0,61.000000,984.000000,0.985700,0.978100,15.000000,...,0.985300,0.964300,14.000000,970.000000,0.982500,0.964300,14.000000,971.000000,1.000000,0.964300
75%,215062.000000,1.000000,2014.0,31.000000,1.0,97.000000,994.000000,1.000000,0.989400,25.000000,...,1.000000,1.000000,22.000000,1000.000000,1.000000,1.000000,22.000000,1000.000000,1.000000,1.000000
max,243780.000000,1.000000,2014.0,38.000000,1.0,452.000000,1000.000000,1.000000,1.000000,145.000000,...,1.000000,1.000000,179.000000,1000.000000,1.000000,1.000000,123.000000,1000.000000,1.000000,1.000000

In [24]:
data.columns

Index(['SCHOOL_ID', 'SCHOOL_NAME', 'SCHOOL_TYPE', 'ACADEMIC_YEAR',
       'SPORT_CODE', 'SPORT_NAME', 'NCAA_DIVISION', 'NCAA_CONFERENCE',
       'FOURYEAR_ATHLETES', 'FOURYEAR_SCORE', 'FOURYEAR_ELIGIBILITY',
       'FOURYEAR_RETENTION', '2014_ATHLETES', '2014_SCORE', '2014_ELIGIBILITY',
       '2014_RETENTION', '2013_ATHLETES', '2013_SCORE', '2013_ELIGIBILITY',
       '2013_RETENTION', '2012_ATHLETES', '2012_SCORE', '2012_ELIGIBILITY',
       '2012_RETENTION', '2011_ATHLETES', '2011_SCORE', '2011_ELIGIBILITY',
       '2011_RETENTION', '2010_ATHLETES', '2010_SCORE', '2010_ELIGIBILITY',
       '2010_RETENTION', '2009_ATHLETES', '2009_SCORE', '2009_ELIGIBILITY',
       '2009_RETENTION', '2008_ATHLETES', '2008_SCORE', '2008_ELIGIBILITY',
       '2008_RETENTION', '2007_ATHLETES', '2007_SCORE', '2007_ELIGIBILITY',
       '2007_RETENTION', '2006_ATHLETES', '2006_SCORE', '2006_ELIGIBILITY',
       '2006_RETENTION', '2005_ATHLETES', '2005_SCORE', '2005_ELIGIBILITY',
       '2005_RETENTION', '2004_ATHLETES', '2004_SCORE', '2004_ELIGIBILITY',
       '2004_RETENTION'],
      dtype='object')

In [25]:
data.nunique()

SCHOOL_ID               334
SCHOOL_NAME             334
SCHOOL_TYPE               2
ACADEMIC_YEAR             1
SPORT_CODE               38
SPORT_NAME               38
NCAA_DIVISION             1
NCAA_CONFERENCE          33
FOURYEAR_ATHLETES       305
FOURYEAR_SCORE          112
FOURYEAR_ELIGIBILITY    805
FOURYEAR_RETENTION      777
2014_ATHLETES           104
2014_SCORE              142
2014_ELIGIBILITY        387
2014_RETENTION          396
2013_ATHLETES           100
2013_SCORE              145
2013_ELIGIBILITY        394
2013_RETENTION          402
2012_ATHLETES           100
2012_SCORE              151
2012_ELIGIBILITY        419
2012_RETENTION          401
2011_ATHLETES            99
2011_SCORE              167
2011_ELIGIBILITY        440
2011_RETENTION          404
2010_ATHLETES           100
2010_SCORE              165
2010_ELIGIBILITY        446
2010_RETENTION          401
2009_ATHLETES           100
2009_SCORE              173
2009_ELIGIBILITY        477
2009_RETENTION          430
2008_ATHLETES            98
2008_SCORE              178
2008_ELIGIBILITY        466
2008_RETENTION          430
2007_ATHLETES            96
2007_SCORE              197
2007_ELIGIBILITY        501
2007_RETENTION          473
2006_ATHLETES            99
2006_SCORE              199
2006_ELIGIBILITY        512
2006_RETENTION          457
2005_ATHLETES           101
2005_SCORE              200
2005_ELIGIBILITY        597
2005_RETENTION          567
2004_ATHLETES            95
2004_SCORE              203
2004_ELIGIBILITY        618
2004_RETENTION          581
dtype: int64

In [26]:
data.isnull().sum()

SCHOOL_ID               0
SCHOOL_NAME             0
SCHOOL_TYPE             0
ACADEMIC_YEAR           0
SPORT_CODE              0
SPORT_NAME              0
NCAA_DIVISION           0
NCAA_CONFERENCE         0
FOURYEAR_ATHLETES       0
FOURYEAR_SCORE          0
FOURYEAR_ELIGIBILITY    0
FOURYEAR_RETENTION      0
2014_ATHLETES           0
2014_SCORE              0
2014_ELIGIBILITY        0
2014_RETENTION          0
2013_ATHLETES           0
2013_SCORE              0
2013_ELIGIBILITY        0
2013_RETENTION          0
2012_ATHLETES           0
2012_SCORE              0
2012_ELIGIBILITY        0
2012_RETENTION          0
2011_ATHLETES           0
2011_SCORE              0
2011_ELIGIBILITY        0
2011_RETENTION          0
2010_ATHLETES           0
2010_SCORE              0
2010_ELIGIBILITY        0
2010_RETENTION          0
2009_ATHLETES           0
2009_SCORE              0
2009_ELIGIBILITY        0
2009_RETENTION          0
2008_ATHLETES           0
2008_SCORE              0
2008_ELIGIBILITY        0
2008_RETENTION          0
2007_ATHLETES           4
2007_SCORE              0
2007_ELIGIBILITY        0
2007_RETENTION          0
2006_ATHLETES           0
2006_SCORE              0
2006_ELIGIBILITY        0
2006_RETENTION          0
2005_ATHLETES           0
2005_SCORE              0
2005_ELIGIBILITY        0
2005_RETENTION          0
2004_ATHLETES           0
2004_SCORE              0
2004_ELIGIBILITY        0
2004_RETENTION          0
dtype: int64